body{
     background-color: snow;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRstSMu5d2Kn_eNh0J4r7w1ng1DkogbBRlLQ&usqp=CAU")
}

h1{
    color: green;
}

img {
    /* margin-left: auto; */
    
}

.topBody{
    padding-top: 6vw; /*pushes the main content 6vw below the navbar*/
}
.bar{
    width: 65vw;
}

.pict{
    margin-left: 0.1rem;
}

.para2{
    align-items: center;
}
.backColor{
    background-color: snow;
}

.footer {
    background-color: rgb(63, 141, 76); /*creates the footer at the bottom of the page*/
    /* position: absolute; */
    margin-top: 10vw;
    margin-bottom: 0.005vw;
    height: 4.5vw;
    border: 0px;
    opacity: 0.5;
}

.footerPara{
    padding-top: 2vw;
}

.contactPage{
   background-color: snow;
   /* border: springgreen 1px solid; */
   /* padding: 6vw; */
   /* padding: 25%; */
   margin-left: 10%;
   margin-top: 5%;
}

.portPage{
    background-color: snow;
    padding-top: 5vw;
}

.portBorder{
    border: red 1px solid;
    background-color: snow;
    width: auto;
    height: auto;
}
