body{
     background-color: silver;
}

/* .main {
    background-color: white;
} */
.footer{
    border: 1px solid red;
    height: 5%;
    width: auto;
    margin-bottom: 10%;
    background-color: green;

}
/*
img {
    height: au;
    width: auto;
} */

.backColor{
    background-color: snow;
}